<!DOCTYPE html>
<html lang="en">
<head> <!--Head section of the html document-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title> <!--Main title of the webpage-->
</head>
<body> <!--Body of the html document-->
    <header> <!--Header section of the html document-->
        <h1>Booking Confirmation</h1> <!--Main header of the webpage-->
    </header>

    <main> <!--Main content section of the webpage-->
        <section id="confirmation-message"> 
            <p>Booking confirmed! Thanks for using my website</p> <!--Paragraph showing the user an appretiation messaage-->
        </section>
    </main>

    <footer> <!--Footer section of the webpage-->
        <p>&copy; Hotel Booking and Reservation website.</p>
    </footer>
    <p>Timer: <span id="timer">{{ countdown_time }}</span></p>
</body>
</html>
