<!DOCTYPE html>
<html lang="en"> <!--Start of the HTML document-->
<head> <!--Head section of the html document-->
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> <!--Title of the webpage displayed in the browser's title bar-->

</head>
<body> <!--Mian body content of the html document-->
    <header> <!--Header section of the page-->
        <h1>Welcome to Our Website</h1> <!--Main heading of the webpage-->
    </header> 

    <main> <!--Main contenet section of the page-->
        <p>This is the home page of our website. You can choose to:</p> <!--Paragraph describing the purpose of the homepage-->
        <p>Timer: <span id="timer">{{ countdown_time }}</span></p>
        <ul> <!--Unordered list containing options for users-->
            <li><a href="/login">Login</a> if you already have an account.</li> <!--Link to the login page-->
            <li><a href="/register">Register</a> if you don't have an account.</li> <!--Link to the register page-->
        </ul>
    </main>

    <footer> <!--Footer section of the page-->
        <p>&copy; Hotel Booking and Reservations. All rights reserved.</p> 
    </footer>
</body>
</html>
